<footer class="footer">
  <div class="social-icons">
    <i class="bi bi-instagram"></i>
    <i class="bi bi-facebook"></i>
    <i class="bi bi-twitter-x"></i>
  </div>
</footer>
<footer class="footer2">
  <div class="footer-text">
    <div class="left-text">&copy; 2024 Your Website</div>
    <div class="right-text"><a id="anchor" href="#">Privacy Policy</a></div>
  </div>
</footer>